.related_post__section {
  padding: 30px 15px;
}

@media screen and (min-width: 768px) {
  .related_post__section {
    padding: 0 15px;
  }
}

.related_post {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 60px 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .related_post {
    padding: 60px 0;
  }
}

.related_post__img_wrapper {
  padding: 0 20px 0 0;

  img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 15px;
  }
}

@media screen and (min-width: 768px) {
  .related_post__img_wrapper {
    padding: 0 20px 0 0;
  }
}

@media screen and (min-width: 768px) {
  .related_post__img_wrapper img {
    max-width: 350px;
  }
}

.related_post__slide_title {
  text-align: left;
  font-family: 'Franklin Gothic';
  font-size: 27px;
  line-height: 1.2;
  margin: 0 0 15px 0;
  color: #15189A;
}

.related_post__info {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .related_post__info {
    max-width: 290px;
  }
}

.related_post__slide_describtion {
  text-align: left;
  font-family: 'Franklin Gothic Book';
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  color: #585757;
}

.slick-arrow {
  position: absolute;
  width: 28px;
  height: 28px;
  cursor: pointer;
  background-color: #15189A;
  border: solid 1px #fff;
  background-position: center;
  border-radius: 50%;
  color: transparent;
  transition: all .2s ease;
  box-shadow: 0 0 4px #999;
  outline: none;
  background-position: center;
  transition: all 0.8s ease;
}

.slick-next {
  top: 92%;
  left: 40px;
  background-image: url(../images/next-icon.png);
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .slick-next {
    right: -12px;
    left: inherit;
    top: 34%;
  }
}

.slick-prev {
  top: 92%;
  left: 0;
  background-image: url(../images/prev-icon.png);
  background-repeat: no-repeat;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .slick-prev {
    top: 34%;
    left: 15px;
    z-index: 1;
  }
}

.slick-disabled {
  opacity: 0;
  pointer-events: none;
}

.related_post__date {
  position: relative;

  &::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 30px;
    position: absolute;
    z-index: 1;
    background-color: #969696;
    right: -13px;
    top: 45%;
  }
}

.related_post__date_wrapper {
  font-family: 'Franklin Gothic Book';
  display: flex;
  align-items: center;
  gap: 20px;
  color: #969696;
  font-size: 16px;
  line-height: 26px;
  margin: 15px 0;

  p {
    margin: 0;
  }
}

.related_post__cta {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0 0 0;
}

.related_post__cta_link {
  color: #15189A;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  font-family: 'Franklin Gothic';
}

.related_post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.related_post__title_text {
  font-family: 'DINBuster';
  color: #FF6F00;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .related_post__title_text {
    font-size: 42px;
  }
}

.related_post__more_btn {
  text-decoration: none;
  background: linear-gradient(#FF6F00, #FFCB05);
  padding: 10px 15px;
  font-size: 15px;
  line-height: 25px;
  font-family: 'Franklin Gothic';
  color: #121212;
  border-radius: 30px;
  margin-right: 50px;
}

.related_post__more_btn-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .related_post__more_btn-desktop {
    display: block;
  }
}

.related_post__more_btn-mobile {
  width: 100%;
  display: block;
  max-width: 300px;
  text-align: center;
  margin: 0;
  padding: 8px 0;
  display: block;
}

@media screen and (min-width: 768px) {
  .related_post__more_btn-mobile {
    display: none;
  }
}

.slick-slide {
  outline: none;
}