body{
	margin: 0;
}

.accordion_section{
	width: 100%;
	background-image: linear-gradient(#15189A, #FF00BD);
	padding: 60px 30px;
	box-sizing: border-box;
	font-family: 'Franklin Gothic Book';
}

.accordion_section::before, .accordion_section::after {
	box-sizing: border-box;
  }

.accordion__container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 720px;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (min-width:768px) {
	.accordion__container{
		padding: 2rem 4rem;
	}
}

.accordion__title{
	color: #fff;
	font-size: 42px;
	line-height: 1.2;
	text-align: center;
	font-weight: bold;
	margin: 0 0 30px 0;
}

.accordion .accordion-item {
  border-bottom: 1px solid #BBBBBB;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid transparent;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #444;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #444;
  border: 1px solid #444;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  font-size: 14px;
  line-height: 24px;
  color: #040651;
  text-decoration: underline;
}

@media screen and (min-width:768px) {
	.accordion button .accordion-title {
		font-size: 21px;
		line-height: 30px;
	  }	
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #444;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin: 10px 0;
  color: #444;
}

@media screen and (min-width:768px) {
	.accordion .accordion-content p{
	  font-size: 20px;
      line-height: 30px;
	}
}

.accordion__more_btn{
	background-color: #040651;
	text-decoration: none;
	color: #fff;
	padding: 10px;
	border-radius: 100px;
	display: flex;
	max-width: 120px;
	align-items: center;
	justify-content: center;
	margin:  30px auto auto;
	font-size: 14px;
	line-height: 24px;
}

@media screen and (min-width:768px) {
	.accordion__more_btn{
	  font-size: 15px;
	  line-height: 25px;
	  max-width: 160px;
	}
}