*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*******Photo gallery Section*******/
.gallery_section_dktp{
    width: 88%;
    max-width: 1000px;
    margin: 40px auto;
}

.gallery_header{
   margin:0 0 45px 0;
   max-width: 760px;
}

.gallery_title{
    font-weight: bold;
    font-size: 35px;
    line-height: 1.2;
    color: #FF6F00;
    margin-bottom: 20px;
}

@media screen and (max-width:600px) {
    .gallery_title{
        font-size: 24px;
    }
}

.gallery_description{
    color: #585757;
    font-size: 20px;
    line-height: 30px;
}

@media screen and (max-width:600px) {
    .gallery_description{
        font-size: 15px;
        line-height: 25px;
    }
}
 /*******************Gallery Grid*******************/
 .grid_gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 25px;
    grid-auto-rows: auto;
    width: 88%;
    max-width: 1000px;
    margin: 40px auto;
  }

  @media screen and (max-width:600px) {
    .grid_gallery{
    padding-left:10px;
    width: 100%;
    }
  }

  @media screen and (max-width:420px) {
    .grid_gallery{
        width: 100%;
    padding-left: 0;

    }
  }

  .grid_gallery_photo_container {
    grid-column: auto / span 2;
  }

  @media screen and (max-width:600px) {
    .grid_gallery_photo_container{
        padding: 0 20px;


    }
  }
  
  .grid_gallery_photo_container:nth-child(1),
  .grid_gallery_photo_container:nth-child(2) {
    grid-column: auto / span 3;
  }

  .grid_gallery .grid_gallery_photo_container img{
    width: 100%;
    border-radius: 10px;
  }

  @media screen and (min-width:420px) and (max-width:600px) {
    .grid_gallery .grid_gallery_photo_container img{
        max-width: 359px;
        height: 250px;
        -o-object-fit: cover;
           object-fit: cover;
      } 
  }

  @media screen and (max-width:419px) {
    .grid_gallery .grid_gallery_photo_container img{
        max-width: 259px;
        height: 200px;
        -o-object-fit: cover;
           object-fit: cover;
      } 
  }
/*************photo gallery slider only mobile***************/

@media screen and (max-width:600px) {
    .slick-list{
        padding:0 30% 0 0 !important;
    }
 }

  .slick-arrow{
    width: 46px;
    height: 46px;
    background-color: #FF6F00;
    background-position: center;
    border-radius: 50%;
    color: transparent;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }

  .slick-prev{
    bottom: -60px;
    left: 25px;
    position: absolute;
    background-image: url('../images/prev-icon.png');
    background-repeat: no-repeat;
    border: none;
  }

  .slick-next{
    bottom: -60px;
    left: 85px;
    position: absolute;
    background-image: url('../images/next-icon.png');
    background-repeat: no-repeat;
    border: none;
  }

  .slick-disabled {
    opacity: 0.8;
    pointer-events:none;
 }

