*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*******Featured Post Section*******/
.feature_post_section{
 width: 100%;
 background-color:#15189A;
 padding: 45px 0 90px 0;
}

.feature_post{
    width: 88%;
    max-width: 1320px;
    margin: 0 auto;
}

@media screen and (max-width:600px) {
  .feature_post{
    width: 100%;
  }
}

.feature_post__header{
   margin:0 0 45px 0;
   max-width: 700px;
}

@media screen and (max-width:600px) {
  .feature_post__header{
    margin-bottom: 15px;
    width: 88%;
    margin: 0 auto;
  }
}

.feature_post__header_title{
    font-weight: bold;
    font-size: 65px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 20px;
}

@media screen and (max-width:600px) {
    .feature_post__header_title{
        font-size: 24px;
        margin-bottom: 15px;
    }
}

.feature_post__header_description{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
}

@media screen and (max-width:600px) {
    .feature_post__header_description{
        font-size: 15px;
        line-height: 25px;
    }
}

@media screen and (max-width:992px) {
  .feature_post__highlight{
    margin-bottom: 50px;
  }
}

@media screen and (max-width:600px) {
  .feature_post__highlight{
    width: 88%;
    margin:  50px  auto;
  }
}


.feature_post__highlight_footer{
  width: 100%;
  max-width: 500px;
}

.feature_post__highlight_title{
  color: #fff;
  font-size: 26px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 10px;
}


@media screen and (max-width:600px) {
 .feature_post__highlight_title{
  font-size: 20px;
  line-height: 30px;
 } 
}


.feature_post__highlight_description{
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width:600px) {
  .feature_post__highlight_description{
    font-size: 17px;
    line-height: 27px;
  }
}

.feature_post__highlight_cta_link{
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  line-height: 28px;
}

.feature_post__highlight_info{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.feature_post__highlight_info span{
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

@media screen and (max-width:600px) {
  .feature_post__articles{
    margin-left: 18px;
  }
}

.feature_post__articles_title{
  color: #fff;
  font-size: 23px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (max-width:600px) {
  .feature_post__articles_title{
   font-size: 18px;
   line-height: 28px;
  } 
 }

.feature_post__articles_description{
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}
@media screen and (max-width:600px) {
  .feature_post__articles_description{
   font-size: 17px;
   line-height: 27px;
  } 
 }

.feature_post__articles_cta_link{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all .3s ease;
}

.feature_post__articles_readmore_icon{
  transition: all .3s ease;
}

.feature_post__articles_readmore_icon img{
   max-width: 12px;
}

.feature_post__articles_cta_link:hover .feature_post__articles_readmore_icon{
   margin-left: 5px;
}

.feature_post__articles_info{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.feature_post__articles_info span{
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

.feature_post__articles_content{
  width: 100%;
  max-width: 430px;
}

.feature_post__body{
  display: flex;
  gap: 65px;
}

@media screen and (max-width:992px) {
  .feature_post__body{
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    display: block;
  }
}

.feature_post__highlight_header{
  margin-bottom: 30px;
}

.feature_post__highlight_header_img{
  width: 100%;
  max-width: 474px;
  height: 474px;
  object-fit: cover;
}

@media screen and (max-width:600px) {
  .feature_post__highlight_header_img{
    max-width: 320px;
    height: 320px;
  }
}

.feature_post__articles_list{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width:600px) {
  .feature_post__articles_list{
    padding: 10px;
  }
}

.feature_post__articles_poster_img{
  width: 100%;
  max-width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.feature_post__highlightreadmore_icon{
  transition: all .3s ease;
}

.feature_post__highlightreadmore_icon img{
   max-width: 12px;
}

.feature_post__highlight_cta_link:hover .feature_post__highlightreadmore_icon{
   margin-left: 5px;
}
 
/*************photo gallery slider only mobile***************/

@media screen and (max-width:600px) {
    .slick-list{
        padding:0 30% 0 0 !important;
    }
 }

  .slick-arrow{
    width: 46px;
    height: 46px;
    background-color: #FF6F00;
    background-position: center;
    border-radius: 50%;
    color: transparent;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }

  .slick-prev{
    bottom: -60px;
    left: 10px;
    position: absolute;
    background-image: url('../images/prev-icon.png');
    background-repeat: no-repeat;
    border: none;
  }

  .slick-next{
    bottom: -60px;
    left: 70px;
    position: absolute;
    background-image: url('../images/next-icon.png');
    background-repeat: no-repeat;
    border: none;
  }

  .slick-disabled {
    opacity: 0.8;
    pointer-events:none;
 }

/***********Ripple effect**************/
.slick-arrow{
    width: 46px;
  height: 46px;
  background-color: #FF6F00;
  background-position: center;
  border-radius: 50%;
  color: transparent;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
border: none;
-webkit-box-shadow: 0 0 4px #999;
        box-shadow: 0 0 4px #999;
outline: none;
background-position: center;
-webkit-transition: all 0.8s ease;
-o-transition: all 0.8s ease;
transition: all 0.8s ease;
}

.ripple:hover {
    background: #FF6F00 -o-radial-gradient(circle, transparent 1%, #FF6F00 1%) center/15000%;
    background: #FF6F00 radial-gradient(circle, transparent 1%, #FF6F00 1%) center/15000%;
  }

.slick-arrow:active {
    background-image: -o-radial-gradient(rgb(220, 104, 36), #643567, #211d92);
    background-image: radial-gradient(rgb(220, 104, 36), #643567, #211d92);
background-size: 100%;
}
  
.slick-prev:active{
    background-position: left;
}

.slick-next:active{
    background-position: right;
}