*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*******Photo gallery Section*******/
.gallery_section_dktp{
    width: 88%;
    max-width: 1000px;
    margin: 40px auto;
}

.gallery_header{
   margin:0 0 45px 0;
   max-width: 760px;
}

.gallery_title{
    font-weight: bold;
    font-size: 35px;
    line-height: 1.2;
    color: #FF6F00;
    margin-bottom: 20px;
}

@media screen and (max-width:600px) {
    .gallery_title{
        font-size: 24px;
    }
}

.gallery_description{
    color: #585757;
    font-size: 20px;
    line-height: 30px;
}

@media screen and (max-width:600px) {
    .gallery_description{
        font-size: 15px;
        line-height: 25px;
    }
}

.gallery_two_photos_section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.gallery_two_photos_section .gallery_photos_img{
    width: 100%;
    max-width: 539px;
    height: 355px;
    -o-object-fit: cover;
       object-fit: cover;
}

.gallery_three_photos_section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
    margin: 20px 0;
}

.gallery_three_photos_section .gallery_photos_img{
    width: 100%;
    max-width: 349px;
    height: 349px;
    -o-object-fit: cover;
       object-fit: cover;
}

.gallery_photos_img{
    border-radius: 10px;
}

@media screen and (max-width:600px) {
 .gallery_photos_container_dktp{
    display: none;
 }
}

/*************photo gallery slider only mobile***************/

.gallery_section_mobile{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: none;
}

@media screen and (max-width:600px) {
.gallery_section_mobile{
    display: block;
}
}

@media screen and (max-width:600px) {
    .slick-list{padding:0 30% 0 0 !important;}
}

  .gallery_photos_container_mobile{
    display: none;
  }

  @media screen and (max-width:600px) {
    .gallery_photos_container_mobile{
        display: block;
    }
  } 

    .gallery_photos_slider{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 25px;
        margin: 20px 0;
        padding-left: 4%;
    }

    .gallery_photos_slider .gallery_photos{
        padding: 0 10px;
    }
    .gallery_photos_slider .gallery_photos_img{
        width: 100%;
        max-width: 349px;
        height: 300px;
        -o-object-fit: cover;
           object-fit: cover;
    }

  @media screen and (min-width:420px) and (max-width:520px) {
    .gallery_photos_slider .gallery_photos_img{
        height: 300px;
    }
  }

  @media screen and (max-width:419px) {
    .gallery_photos_slider .gallery_photos_img{
        height: 220px;
    }
  }

  .slick-arrow{
    width: 46px;
    height: 46px;
    background-color: #FF6F00;
    background-position: center;
    border-radius: 50%;
    color: transparent;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }

  .slick-prev{
    bottom: -60px;
    left: 25px;
    position: absolute;
    background-image: url('../images/prev-icon.png');
    background-repeat: no-repeat;
    border: none;
  }

  .slick-next{
    bottom: -60px;
    left: 85px;
    position: absolute;
    background-image: url('../images/next-icon.png');
    background-repeat: no-repeat;
    border: none;
  }

  .slick-disabled {
    opacity: 0.8;
    pointer-events:none;
 }

 .slick-list{
    border-radius: 10px;
 }