.game_slider {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}

.game_slider .slick-list{padding:0 20% 0 0 !important;}

.game_slider__img_wrapper{
  padding: 0 10px;
}

@media screen and (min-width:768px) {
  .game_slider__img_wrapper{
    padding: 0 30px;
  } 
}

.game_slider__img_wrapper img{
  width: 100%;
  max-width: 420px;
  height: 270px;
  object-fit: cover;
  border-radius: 15px;
}

.game_slider__slide_title{
  text-align: center;
  font-family: 'Franklin Gothic';
  font-size: 30px;
  line-height: 30px;
  margin: 20px 0;
  color: #15189A;
}

.game_slider__info{
  max-width: 420px;
}


.game_slider__slide_describtion{
  text-align: center;
  font-family: 'Franklin Gothic Book';
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  color: #585757;
}

.slick-arrow{
  position: absolute;
  width: 28px;
    height: 28px;
    cursor: pointer;
    background-color: #FF6F00;
    border: solid 1px #fff;
    background-position: center;
    border-radius: 50%;
    color: transparent;
    transition: all .2s ease;
    box-shadow: 0 0 4px #999;
    outline: none;
    background-position: center;
    transition: all 0.8s ease;
}

.slick-next{
  top: 95%;
  left: 50px;
  background-image: url(../images/next-icon.png);
background-repeat: no-repeat;
}


@media screen and (min-width:768px) {
  .slick-next{
    right: -12px;
    left:inherit;
    top: 34%;
  }   
}

.slick-prev{
  top: 95%;
  left: 15px;
  background-image: url(../images/prev-icon.png);
  background-repeat: no-repeat;
} 

@media screen and (min-width:768px) {
.slick-prev {
  top: 34%;
  left: 15px;
  z-index: 1;  
}
}

.slick-disabled {
  opacity: 0;
  pointer-events:none;
}